/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.vs/
/.idea/
/*.csproj
/*.sln
/*.slnx
/*.pidb
/.station-command.json
/.station-response.json
/output/*.apk
/output/*.aab
/output/*.symbols.zip
/output/*_BackUpThisFolder_ButDontShipItWithYourGame/
*.keystore
*.jks
*.log
